<button nz-button (click)="closeButtonClick($event)">
  <i nz-icon nzType="form" theme="outline"></i>
  닫기
</button>
<nz-divider nzType="vertical"></nz-divider>
<button nz-button nzType="primary" (click)="searchButtonClick($event)">
  <i nz-icon nzType="search"></i>
  조회
</button>
<nz-divider nzType="vertical"></nz-divider>
<button nz-button nzType="primary"
  nz-popconfirm nzPopconfirmTitle="저장하시겠습니까?"
  (nzOnConfirm)="saveButtonClick()" (nzOnCancel)="false">
  <i nz-icon nzType="save" theme="outline"></i>
  저장
</button>
<nz-divider nzType="vertical"></nz-divider>
<button nz-button nzDanger
  nz-popconfirm nzPopconfirmTitle="삭제하시겠습니까?"
  (nzOnConfirm)="deleteButtonClick()" (nzOnCancel)="false">
  <i nz-icon nzType="delete" theme="outline"></i>
  삭제
</button>

